include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include stripe_payment *.css
recursive-include stripe_payment *.csv
recursive-include stripe_payment *.html
recursive-include stripe_payment *.ico
recursive-include stripe_payment *.js
recursive-include stripe_payment *.json
recursive-include stripe_payment *.md
recursive-include stripe_payment *.png
recursive-include stripe_payment *.py
recursive-include stripe_payment *.svg
recursive-include stripe_payment *.txt
recursive-exclude stripe_payment *.pyc